---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - Contact";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Contact</h1>
    <p>Contacta con la biblioteca fisica</p>
  </div>
</BaseLayout>
