---
import Separator from "../components/Separator.astro";
---

<Separator />
<footer>
  <p>
    Biblioteca UST - Universidad Santo Tomás, Chile
    <br />
    © 2025 - Todos los derechos reservados
  </p>
</footer>
<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: rgb(0, 0, 0);
  }
</style>
